@charset 'UTF-8';
/**
 * Main SCSS
 * Version 1.0.0
 * built with foundation-sites
 */

// import custom settings
// @import 'settings';

// import foundation sass
@import "../bower_components/foundation-sites/scss/foundation";

/* either include all foundation components…  //*/
@include foundation-everything;

$font-colour: #4baf97;
$dark-bg: #22252a;
$light-bg: #2e3135;

// h1 {
//     color: $primary-colour;
// }

html,body {
    background-color: $dark-bg;
}

textarea {
    position: fixed;
    resize: none;
    width: 100vw;
    height: 90vh;
    background-color: $light-bg !important;
    color: $font-colour;
}

// /// Tweak
.content {
    height: 100vh;
    width: 100vw;
}

.log-area {
    // position: fixed;
    // position: relative;
    // height: inherit;
    // height: 95%;
    // width: 100%;
    // position: absolute;
    // height: 5%;
    // width: 98%;
    // bottom: 1%;
    // top: 1%;
    // align-content: center;
    // vertical-align: middle;
    // left: 10px;
}

// .control-area {
//     position: absolute;
//     top: 90%;
// }

.filter-area {
    // position: absolute;
    position: fixed;
    height: 9vh;
    width: 100vw;
    bottom: 0px;
    // width: 81%;
    // top: 90%;
    // left: 10px;

    // position: relative;
    // top: 90%;
    // height: inherit;
    // height: 20%;
}

#filter-box {
    width: 75vw;
    float: left;
    color: $font-colour;
}

#filter-btn {
    width: 10vw;
    // float: right;
    // position: absolute;
    // top: 90%;
    // width: 8%;
    // right: 10%;
}

#stream-btn {
    width: 15vw;
    float: right;
    color: white;
    // position: absolute;
    // top: 90%;
    // width: 8%;
    // right: 1%;
}

